/* This is giving the entire webepage the same font. */
* {
    font-family: 'Merriweather', serif;
}
/* This is giving everything in the body characteristics. */
body {
    margin: 0;
    background-color: #0d1f2d;
}
/* This container class is giving all of my headers and pictures the same display spacing using flex. */
.container {
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0 24px;
    background-color: #d5dcf9;
    color: #0d1f2d;
}

header div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header div h3 {
    margin: 0 10px;
}

header a {
    text-decoration: none;
    color: black;
}
/* The hover allows the text in the header to turn green when the cursor is hovering over it. This lets the user know they can click on the link.  */
header a:hover {
    color: #37ff8b;
}

#body {
    flex-direction: column;
    padding: 40px 5%;
}

#About {
    color: #a7b0ca;
    margin-bottom: 85px;
}

#work {
    color: #a7b0ca;
}

#gallery {
    justify-content: space-between;
    flex-wrap: wrap;
}
/* The gallery div gives features to the cards for the projects on the page.  */
#gallery div,
#horiseon {
    border: 1px solid black;
    border-radius: 25px;
    margin-bottom: 24px;
    width: 30%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#horiseon {
    width: 50%;
    height: 400px;
    margin: 20px auto;
}
/* These two hovers give the cards the same feature as the links in the header to turn green.  */
#horiseon:hover {
    border: 3px solid #37ff8b;
}

#gallery div:hover {
    border: 3px solid #37ff8b;
}

#horiseon {
    background-image: url('linguify.jpg');
    color: white;
    font-size: 40px;
}

#gallery #project-2 {
    background-image: url('car-wash.jpeg');
    color: #0d1f2d;
}

#gallery #project-3 {
    background-image: url('recipe.jpeg');
    color: #0d1f2d;
}

#gallery #project-4 {
    background-image: url('pets.jpeg');
    color: #0d1f2d;
}

#gallery #project-5 {
    background-image: url('basketball.jpeg');
    color: #0d1f2d;
}

#gallery #project-6 {
    background-image: url('crafts.jpeg');
    color: #0d1f2d;
}

#gallery #project-7 {
    background-image: url('stars.jpeg');
    color: #0d1f2d;
}
#contact {
    color: #a7b0ca;
    margin-top: 80px;
}
/* This contact container is giving flex properties to the footer so they can be spaced out and positioned to the right of the page. */
.contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact-link {
    margin: 0 10px;
}

.contact-link a {
    text-decoration: none;
    color: #a7b0ca;
}

.about-wrap {
    display: flex;
}

.about-wrap p {
    margin: '0 auto';
    padding: 50px;
    line-height: 24px;
}

#profile-pic {
    height: 10px;
    width: 30px;
}
